{% load account %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Recommender</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/movies/infinite">Infinite Review</a>
          </li>
          
        </ul>
        <a class="btn btn-outline-primary" href="/accounts/logout/">{% user_display user %}</a>
        
      </div>
    </div>
  </nav>