<div class="card shadow-sm">
          
    <div class="card-body">
      <h3>{{ object.title }} </h3>
      <p class="card-text">{{ object.overview }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if object.get_absolute_url not in request.path %}
          <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ object.get_absolute_url }}">View</a>
          {% endif %}

         
        </div>
        <div>
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            
            {% if object.rating_avg is not None %}
            <small class="text-muted">{{ object.rating_avg }} ({{ object.rating_count }})</small>
            {% endif %}
        </div>
      </div>
    </div>
  </div>