{% load get_dict_val %}

{% with my_ratings|get_dict_val:object.id  as current_rating %}
<div class="card shadow-sm">
          
    <div class="card-body">
      <h3>{{ object.title }} <small>{{ object.id }}</small></h3>
      <p class="card-text">{{ object.overview }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          {% if object.get_absolute_url not in request.path %}
          <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ object.get_absolute_url }}">View</a>
          {% endif %}

         
        </div>
        <div>
            <select class="form-control">
              {% for choice in rating_choices %}
                {% if choice is None %}
         
                <option disabled selected>Pick a rating</option>

                {% else %}

                <option {% if current_rating == choice %}selected{% endif %} value="{{ choice }}">{{ choice }}</option>
                {% endif %}
              {% endfor %}
              
            </select>
            
            {% if object.rating_avg is not None %}
            <small class="text-muted">{{ object.rating_avg }} ({{ object.rating_count }})</small>
            {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endwith %}